<div class="page-box">
  <div class="contact-form-container">
    <h2>TITLE HEADING</h2>
    <form>
      <mat-form-field>
        <mat-label><mat-icon>email</mat-icon>&nbsp;&nbsp;Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>
      <mat-form-field>
        <mat-label><mat-icon>subject</mat-icon>&nbsp;&nbsp;Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>
      <mat-form-field>
        <mat-label><mat-icon>message</mat-icon>&nbsp;&nbsp;Both a label and a placeholder</mat-label>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <div class="button-container">
        <button class="download-button" mat-stroked-button>
          <mat-icon>send</mat-icon>&nbsp;&nbsp;Invia
        </button>
      </div>
    </form>
  </div>
</div>