<div class="page-box">
    <mat-card class="project-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image-card1"></div>
            <mat-card-title>Testo</mat-card-title>
            <mat-card-subtitle>sotto testo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../../assets/images/front.png">
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat imperdiet urna nec dapibus. Cras
            pretium felis erat, ut vulputate augue feugiat nec. Sed vehicula placerat ipsum et bibendum. Donec
            augue nibh, volutpat in ullamcorper feugiat, auctor id leo. In sed nulla consectetur justo finibus
            malesuada at sed enim. Proin feugiat volutpat neque id feugiat. Integer varius tincidunt vehicula.
            Morbi eget lacinia metus, in congue diam. Pellentesque vitae libero quis mi tempor suscipit nec ac
            eros. Nulla facilisi. Sed aliquet hendrerit mollis. Donec ipsum ex, laoreet vitae nulla nec, finibus
            eleifend turpis. Aliquam varius, mi et rhoncus tristique, erat mauris consectetur arcu, id volutpat
            ligula libero vitae massa.
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="https://github.com/Rick92b/Angular7Front-end" matTooltip="View this project on GitHub"><img
                    src="./../../../../assets/images/GitHub_Logo.png"></a>
        </mat-card-actions>
    </mat-card>
</div>