<div class="page-box">
  <div class="content-container">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco.</p>
    <mat-divider></mat-divider>
    <div class="frame-container">
      <iframe src="https://docs.google.com/document/d/e/2PACX-1vQJRp6kofZghd1kPRLNLUlPchjsOyjv3oxSTymb9XY8D9KiQSS7d6RApsW8zwphUSClto3LcmkYiNlr/pub?embedded=true"></iframe>
    </div>
    <mat-divider></mat-divider>
    <div class="button-container">
      <button class="download-button" mat-stroked-button>
        <mat-icon>archive</mat-icon>&nbsp;&nbsp;&nbsp;Download
      </button>
    </div>
  </div>
</div>